footer {
  .container {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    .logo {
      font-weight: bold;
      font-size: 30px;
    }

    .socials {
      img {
        margin-right: 10px;
      }
    }
  }
}
